<footer class="py-sm-10 py-7 bg-natural-100">
  <div class="container d-flex flex-sm-row flex-column justify-content-sm-between justify-content-center align-items-center">
    <ul class="d-flex flex-wrap justify-content-sm-start justify-content-center align-content-center mb-sm-0 mb-2">
      <li>
        <a href="#" class="py-2 px-sm-7 px-5 fw-normal mb-sm-0 mb-2">服務方案</a>
      </li>
      <li>
        <a href="#" class="py-2 px-sm-7 px-5 fw-normal mb-sm-0 mb-2">關於職旅</a>
      </li>
      <li>
        <a href="#" class="py-2 px-sm-7 px-5 fw-normal mb-sm-0 mb-2">聯絡我們</a>
      </li>
      <li>
        <a href="#" class="py-2 px-sm-7 px-5 fw-normal">隱私權政策</a>
      </li>
      <li>
        <a href="#" class="py-2 px-sm-7 px-5 fw-normal">用戶條款</a>
      </li>
    </ul>
    <p class="text-natural-600 fs-14">Copyright © 2025 職旅 workway. All rights reserved.</p>
  </div>
</footer>