<header class="py-sm-3 py-4 border border-1 border-natural-300">
  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-xl">
        <a class="navbar-brand" href="./index.html">
          <img class="logo-img" src="/assets/images/logo.svg" alt="logo">
        </a>
        <div class="d-sm-none d-block d-flex align-items-center ms-auto">
            <a href="./login.html" class="d-flex align-items-center text-decoration-none">
              <button type="button" class="btn btn-white py-2 px-7 border border-1 border-natural-300 rounded-4 login-btn">登入/註冊</button>
            </a>
          </div>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex flex-sm-row align-items-sm-enter flex-column ms-sm-auto w-100 ">
          <ul class="navbar-nav mx-auto mt-sm-0 mt-5 mb-sm-0 mb-5">
            <li class="nav-item me-sm-3 me-0 mb-sm-0 mb-7">
              <a class="nav-link py-sm-2 py-5 px-7 fw-normal" aria-current="page" href="#">服務方案</a>
            </li>
            <li class="nav-item me-sm-3 me-0 mb-sm-0 mb-7">
              <a class="nav-link py-sm-2 py-5 px-7 fw-normal" href="#">關於職旅</a>
            </li>
            <li class="nav-item navbar-item-pb">
              <a class="nav-link py-sm-2 py-5 px-7 fw-normal" href="#">聯絡我們</a>
            </li>
          </ul>

          <div class="d-sm-none d-block w-100">
              <a href="./login.html" class="text-decoration-none w-100">
                <button type="button" class="btn btn-secondary-300 py-2 rounded-4 fs-5 w-100 fw-bold">登入/註冊</button>
              </a>
            </div>

          <div class="d-none d-sm-block me-sm-0 me-3">
            <a href="./login.html" class="d-flex align-items-center text-decoration-none">
              <button type="button" class="btn btn-white py-2 px-7 border border-1 border-natural-300 rounded-4 login-btn">登入/註冊</button>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>