<header class="py-sm-3 py-4">
  <nav class="navbar navbar-expand-lg bg-white">
    <div class="container-xl">
        <a class="navbar-brand" href="./index.html">
          <img class="logo-img" src="/assets/images/logo.svg" alt="logo">
        </a>
        <div class="d-sm-none d-block d-flex align-items-center ms-auto">
          <a href="./member_data.html" class="d-flex align-items-center text-decoration-none">
            <img class="person-mokumaru rounded-circle border border-1 border-natural-300 me-2" src="/assets/images/avatar.png" alt="avatar">
            <p class="mb-0">Mokumaru</p>
          </a>
        </div>
        <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="hamburger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <div class="d-flex flex-row align-items-sm-enter align-items-end ms-auto w-100">
          <ul class="navbar-nav mx-auto mt-sm-0 mt-5">
            <li class="nav-item me-sm-3 me-0 mb-sm-0 mb-7">
              <a class="nav-link py-sm-2 py-5 px-7 fw-normal" aria-current="page" href="#">服務方案</a>
            </li>
            <li class="nav-item me-sm-3 me-0 mb-sm-0 mb-7">
              <a class="nav-link py-sm-2 py-5 px-7 fw-normal" href="#">關於職旅</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-sm-2 py-5 px-7 fw-normal" href="#">聯絡我們</a>
            </li>
          </ul>
          <div class="d-none d-sm-block me-sm-0 me-3">
            <a href="./member_data.html" class="d-flex align-items-center text-decoration-none">
              <img class="person-mokumaru rounded-circle border border-1 border-natural-300 me-2" src="/assets/images/avatar.png" alt="avatar">
              <p class="mb-0">Mokumaru</p>
            </a>
          </div>
        </div>
      </div>
    </div>
  </nav>
</header>