<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>職旅計畫頁</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="bg-natural-100 border-content py-sm-13 py-10">
      <div class="container-xl">
        <ul class="d-flex justify-content-center align-items-center mb-sm-7 mb-5">
            <li class="me-sm-7 me-5">
              <button type="button" class="btn btn-white py-3 px-sm-6 px-3 border border-1 border-natural-300 rounded-3 d-flex justify-content-center align-items-center">
                <span class="material-symbols-outlined me-sm-1 me-0">
                  face
                </span>
                <span class="fw-normal">個人資料</span>
              </button>
            </li>
            <li class="me-sm-7 me-5">
              <button type="button" class="btn btn-white py-3 px-sm-6 px-3 border border-1 border-natural-300 rounded-3 d-flex justify-content-center align-items-center">
                <span class="material-symbols-outlined me-sm-1 me-0">
                  pending_actions
                </span>
                <span class="fw-normal">預約紀錄</span>
              </button>
            </li>
            <li>
              <button type="button" class="btn btn-natural-200 py-3 px-sm-6 px-3 border border-1 border-natural-300 rounded-3 d-flex justify-content-center align-items-center">
                <span class="material-symbols-outlined me-sm-1 me-0">
                  list_alt
                </span>
                <span class="fw-normal">職旅計劃</span>
              </button>
            </li>
        </ul>

        <div class="row">
          <div class="col-sm-1 d-sm-block d-none"></div>
          <div class="col-sm-10 col-12">
            <div class="py-sm-10 px-sm-10 py-7 px-7 bg-white rounded-4 card-box-shadow">
              <!-- 職旅計劃概況 -->
              <ul class="row d-flex justify-content-start align-items-start mb-sm-10 mb-7  border-bottom border-1 border-natural-300">
                <li class="col-sm-3 col-12 d-flex flex-sm-column flex-row justify-content-between align-content-center mb-sm-0 mb-5">
                  <h2 class="fs-5 mb-sm-3 mb-0">職旅計劃概況</h2>
                  <div class="d-flex align-items-center">
                    <p class="fw-normal text-natural-600">欄位皆為</p>
                    <span class="badge rounded-1 bg-global-danger-300 fs-14 py-1 px-2 ms-1">必填</span>
                  </div>
                </li>
                <li class="col-sm-9 col-12">
                  <div class="mb-sm-7 mb-5">
                    <p class="fw-normal mb-2">目前職業狀態</p>
                    <ul class="ms-2">
                      <li class="d-flex justify-content-start align-items-center mb-2 flex-wrap">
                        <div class="form-check me-sm-7 me-5 mb-sm-0 mb-2">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault1" checked>
                          <label class="form-check-label fw-normal fs-14" for="radioDefault1">
                            全職上班族
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-0 mb-sm-0 mb-2">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault2" checked>
                          <label class="form-check-label fw-normal fs-14" for="radioDefault2">
                            兼職工作者
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault3" checked>
                          <label class="form-check-label fw-normal fs-14" for="radioDefault3">
                            自由工作者/接案者
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault4" checked>
                          <label class="form-check-label fw-normal fs-14" for="radioDefault4">
                            數位遊牧者
                          </label>
                        </div>
                      </li>
                      <li class="d-flex justify-content-start align-items-center">
                        <div class="form-check me-sm-7 me-5">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault5">
                          <label class="form-check-label fw-normal fs-14" for="radioDefault5">
                            創業者/企業主
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault6" checked>
                          <label class="form-check-label fw-normal fs-14" for="radioDefault6">
                            待業中
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault7" checked>
                          <label class="form-check-label fw-normal fs-14" for="radioDefault7">
                            其他
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="mb-sm-7 mb-5">
                    <button class="btn btn-white w-100 d-flex justify-content-between align-items-center py-5 px-5 border border-1 border-natural-300 rounded-6" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSelect" aria-expanded="false">
                      工作產業 
                      <span class="material-symbols-outlined">
                        keyboard_arrow_down
                      </span>
                    </button>
                    <div class="collapse" id="collapseSelect">
                      <div class="card card-body mt-2 py-2 px-0 bg-white rounded-1">
                        <div class="list-group list-group-flush">
                            <button type="button" class="list-group-item list-group-item-action py-2 ps-7 fw-normal border-0">科技</button>
                            <button type="button" class="list-group-item list-group-item-action py-2 ps-7 fw-normal border-0">媒體</button>
                            <button type="button" class="list-group-item list-group-item-action py-2 ps-7 fw-normal border-0">教育</button>
                            <button type="button" class="list-group-item list-group-item-action py-2 ps-7 fw-normal border-0">金融</button>
                            <button type="button" class="list-group-item list-group-item-action py-2 ps-7 fw-normal border-0">醫療健康</button>
                            <button type="button" class="list-group-item list-group-item-action py-2 ps-7 fw-normal border-0">零售製造</button>
                            <button type="button" class="list-group-item list-group-item-action py-2 ps-7 fw-normal border-0">服務業</button>
                            <button type="button" class="list-group-item list-group-item-action py-2 ps-7 fw-normal border-0">藝術創意</button>
                            <button type="button" class="list-group-item list-group-item-action py-2 ps-7 fw-normal border-0">非營利組織</button>
                        </div>
                      </div>
                    </div>
                  </div>

                  <div class="mb-sm-7 mb-5">
                    <button class="btn btn-white w-100 d-flex justify-content-between align-items-center py-5 px-5 border border-1 border-natural-300 rounded-6" type="button" data-bs-toggle="collapse" data-bs-target="#collapseSelect2" aria-expanded="false">
                      工作年資 
                      <span class="material-symbols-outlined">
                        keyboard_arrow_down
                      </span>
                    </button>
                    <div class="collapse" id="collapseSelect2">
                      <div class="card card-body mt-2 py-2 px-0 bg-white rounded-1">
                        <div class="list-group list-group-flush">
                          <button type="button" class="list-group-item list-group-item-action py-2 ps-7 fw-normal border-0">1 年以下</button>
                          <button type="button" class="list-group-item list-group-item-action py-2 ps-7 fw-normal border-0">1-3 年</button>
                          <button type="button" class="list-group-item list-group-item-action py-2 ps-7 fw-normal border-0">3-5 年</button>
                          <button type="button" class="list-group-item list-group-item-action py-2 ps-7 fw-normal border-0">5-10 年</button>
                          <button type="button" class="list-group-item list-group-item-action py-2 ps-7 fw-normal border-0">10 年以上</button>
                        </div>
                      </div>
                    </div>
                  </div>
                      
                  <div class="mb-sm-7 mb-5">
                    <p class="fw-normal mb-2">月收入區間</p>
                    <ul class="ms-2">
                      <li class="d-flex justify-content-start align-items-center mb-2 flex-wrap">
                        <div class="form-check me-sm-7 me-5 mb-sm-0 mb-2">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault1" checked>
                          <label class="form-check-label fw-normal fs-14" for="radioDefault1">
                            3 萬以下
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5 mb-sm-0 mb-2">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault2" checked>
                          <label class="form-check-label fw-normal fs-14" for="radioDefault2">
                            3-5 萬
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-0 mb-sm-0 mb-2">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault2" checked>
                          <label class="form-check-label fw-normal fs-14" for="radioDefault2">
                            5-8 萬
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault2" checked>
                          <label class="form-check-label fw-normal fs-14" for="radioDefault2">
                            8-12 萬
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-0">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault2" checked>
                          <label class="form-check-label fw-normal fs-14" for="radioDefault2">
                            12-20 萬
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault2" checked>
                          <label class="form-check-label fw-normal fs-14" for="radioDefault2">
                            20 萬以上
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>

                  <div class="form-floating mb-sm-7 mb-5">
                    <textarea class="form-control pt-5 ps-3 bg-white border border-1 border-natural-300 rounded-1" placeholder="Leave a comment here" id="floatingTextarea2" style="height: 160px"></textarea>
                    <label for="floatingTextarea2" class="fw-normal">職業摘要（簡短描述您的專業背景和核心競爭力最多 300 字</label>
                  </div>

                  <div class="form-floating mb-sm-7 mb-5">
                    <textarea class="form-control pt-5 ps-3 bg-white border border-1 border-natural-300 rounded-1" placeholder="Leave a comment here" id="floatingTextarea3" style="height: 56px"></textarea>
                    <label for="floatingTextarea3" class="fw-normal">作品案例展示</label>
                  </div>

                  <div class="mb-sm-10 mb-7 d-flex flex-column align-items-start">
                    <label class="form-label mb-2 fw-normal">上傳檔案</label>
                    <div class="custom-file-upload">
                      <input type="file" id="formFile">
                      <div class="upload-btn">
                        <span class="material-symbols-outlined me-1">
                          upload
                        </span>
                        <span class="fw-normal">上傳檔案</span>
                      </div>
                    </div>
                  </div>
                </li>
              </ul>
              <!-- 職涯規劃 -->
              <ul class="row d-flex justify-content-start align-items-start mb-sm-10 mb-7 border-bottom border-1 border-natural-300">
                <li class="col-sm-3 col-12 d-flex flex-sm-column flex-row justify-content-between align-content-center mb-sm-0 mb-5">
                  <h2 class="fs-5 mb-sm-3 mb-0">職涯規劃</h2>
                  <div class="d-flex align-items-center">
                    <p class="fw-normal text-natural-600">欄位皆為</p>
                    <span class="badge rounded-1 bg-global-danger-300 fs-14 py-1 px-2 ms-1">必填</span>
                  </div>
                </li>
                <li class="col-sm-9 col-12">
                  <div class="form-floating mb-sm-7 mb-5">
                    <textarea class="form-control pt-5 ps-3 bg-white border border-1 border-natural-300 rounded-1" placeholder="Leave a comment here" id="floatingTextarea4" style="height: 160px"></textarea>
                    <label for="floatingTextarea4" class="fw-normal">1 年短期職涯目標（最多 300 字）</label>
                  </div>
                  <div class="form-floating mb-sm-7 mb-5">
                    <textarea class="form-control pt-5 ps-3 bg-white border border-1 border-natural-300 rounded-1" placeholder="Leave a comment here" id="floatingTextarea5" style="height: 160px"></textarea>
                    <label for="floatingTextarea5" class="fw-normal">1-3 年中長期職涯願景（最多 300 字）</label>
                  </div>
                  <div class="mb-sm-7 mb-5">
                    <p class="fw-normal mb-2">理想工作模式</p>
                    <ul class="ms-2">
                      <li class="d-flex justify-content-start align-items-center mb-2 flex-wrap">
                        <div class="form-check me-sm-7 me-0 mb-sm-0 mb-2">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault8" checked>
                          <label class="form-check-label fw-normal fs-14" for="radioDefault8">
                            固定辦公室工作
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-0 mb-sm-0 mb-2">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault9" checked>
                          <label class="form-check-label fw-normal fs-14" for="radioDefault9">
                            混合式工作(辦公室+遠端)
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault10" checked>
                          <label class="form-check-label fw-normal fs-14" for="radioDefault10">
                            完全遠端工作(固定地點)
                          </label>
                        </div>
                      </li>
                      <li class="d-flex justify-content-start align-items-center flex-wrap">
                        <div class="form-check me-sm-7 me-0 mb-sm-0 mb-2">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault11">
                          <label class="form-check-label fw-normal fs-14" for="radioDefault11">
                            數位遊牧(邊工作邊旅行)
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-0">
                          <input class="form-check-input me-1" type="radio" name="radioDefault" id="radioDefault12" checked>
                          <label class="form-check-label fw-normal fs-14" for="radioDefault12">
                            其他(請說明)
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="form-floating mb-sm-7 mb-5">
                    <textarea class="form-control pt-5 ps-3 bg-white border border-1 border-natural-300 rounded-1" placeholder="Leave a comment here" id="floatingTextarea6" style="height: 56px"></textarea>
                    <label for="floatingTextarea6" class="fw-normal">目標薪資/收入</label>
                  </div>
                  <div class="mb-sm-7 mb-5">
                    <p class="fw-normal mb-2">目前面臨的職涯挑戰</p>
                    <ul class="ms-2">
                      <li class="d-flex justify-content-start align-items-center mb-2 flex-wrap">
                        <div class="form-check me-sm-7 me-5 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault13">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault13">
                            方向不明確
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-0 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault14">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault14">
                            技能需要提升
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault15">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault15">
                            收入不穩定
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-0 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault16">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault17">
                            客戶開發困難
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault17">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault17">
                            時間管理問題
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-0 mb-sm-0 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault18">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault18">
                            工作生活失衡
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault1">
                          <label class="form-check-label fw-normal fs-14" or="checkDefault19">
                            缺乏人脈資源
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault20">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault20">
                            其他(請說明)
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="mb-sm-7 mb-5">
                    <p class="fw-normal mb-2">期望獲得的協助與資源</p>
                    <ul class="ms-2">
                      <li class="d-flex justify-content-start align-items-center mb-2 flex-wrap">
                        <div class="form-check me-sm-7 me-5 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault21">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault21">
                            職涯方向指導
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-0 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault22">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault22">
                            專業技能提升建議
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault23">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault23">
                            個人品牌建立
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-0 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault24">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault24">
                            接案策略與定價
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault25">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault25">
                            客戶開發方法
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-0 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault26">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault26">
                            財務規劃
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault27">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault27">
                            時間管理系統
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-0 mb-sm-0 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault28">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault28">
                            工作生活平衡
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault29">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault29">
                            其他(請說明)
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="mb-sm-10 mb-7">
                    <p class="fw-normal mb-2">感興趣的服務方案</p>
                    <ul class="ms-2">
                      <li class="d-flex justify-content-start align-items-center">
                        <div class="form-check me-sm-7 me-5">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault30">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault30">
                            探索定位
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault31">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault31">
                            客製化方案
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault32">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault32">
                            實戰指導
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                </li>
              </ul>
              <!-- 專業技能區塊 -->
              <ul class="row d-flex justify-content-start align-items-start mb-sm-10 mb-7 border-bottom border-1 border-natural-300">
                <li class="col-sm-3 col-12 d-flex flex-sm-column flex-row justify-content-between align-content-center mb-sm-0 mb-5">
                  <h2 class="fs-5 mb-sm-3 mb-0">專業技能區塊</h2>
                  <p class="fw-normal text-natural-600">欄位皆為選填</p>
                </li>
                <li class="col-sm-9 col-12">
                  <div class="mb-sm-7 mb-5">
                    <p class="fw-normal mb-2">核心專業領域</p>
                    <ul class="ms-2">
                      <li class="d-flex justify-content-start align-items-center flex-wrap">
                        <div class="form-check me-sm-7 me-5 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault33">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault33">
                            設計/創意
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-0 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault34">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault34">
                            科技/程式開發
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault35">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault35">
                            行銷/公關
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-0 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault36">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault36">
                            內容創作/寫作
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault37">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault37">
                            顧問/諮詢
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault38">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault38">
                            商業/管理
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5 mb-2">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault39">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault39">
                            財務/會計
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault40">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault40">
                            教育/培訓
                          </label>
                        </div>
                        <div class="form-check me-sm-7 me-5">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault41">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault41">
                            法律/合規
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input me-1" type="checkbox" value="" id="checkDefault42">
                          <label class="form-check-label fw-normal fs-14" for="checkDefault42">
                            健康/醫療
                          </label>
                        </div>
                      </li>
                    </ul>
                  </div>
                  <div class="form-floating mb-sm-7 mb-5">
                    <textarea class="form-control pt-5 ps-3 bg-white border border-1 border-natural-300 rounded-1" placeholder="Leave a comment here" id="floatingTextarea3" style="height: 160px"></textarea>
                    <label for="floatingTextarea3" class="fw-normal">專業背景和核心競爭力（最多300字）</label>
                  </div>
                  <div class="form-floating mb-sm-7 mb-5">
                    <textarea class="form-control pt-5 ps-3 bg-white border border-1 border-natural-300 rounded-1" placeholder="Leave a comment here" id="floatingTextarea3" style="height: 160px"></textarea>
                    <label for="floatingTextarea3" class="fw-normal">專業技能（最多300字）</label>
                  </div>
                  <div class="form-floating mb-sm-7 mb-5">
                    <textarea class="form-control pt-5 ps-3 bg-white border border-1 border-natural-300 rounded-1" placeholder="Leave a comment here" id="floatingTextarea3" style="height: 160px"></textarea>
                    <label for="floatingTextarea3" class="fw-normal">語文能力（最多300字）</label>
                  </div>
                  <div class="form-floating mb-sm-10 mb-7">
                    <textarea class="form-control pt-5 ps-3 bg-white border border-1 border-natural-300 rounded-1" placeholder="Leave a comment here" id="floatingTextarea3" style="height: 160px"></textarea>
                    <label for="floatingTextarea3" class="fw-normal">資格證照（最多300字）</label>
                  </div>
                </li>
              </ul>
              <!-- 教育背景 -->
              <ul class="row d-flex justify-content-start align-items-start mb-sm-10 mb-0">
                <li class="col-sm-3 col-12 d-flex flex-sm-column flex-row justify-content-between align-content-center mb-sm-0 mb-5">
                  <h2 class="fs-5 mb-sm-3 mb-0">教育背景</h2>
                  <p class="fw-normal text-natural-600">欄位皆為選填</p>
                </li>
                <li class="col-sm-9 col-12">
                  <div class="form-floating mb-sm-7 mb-5">
                    <textarea class="form-control pt-5 ps-3 bg-white border border-1 border-natural-300 rounded-1" placeholder="Leave a comment here" id="floatingTextarea3" style="height: 160px"></textarea>
                    <label for="floatingTextarea3" class="fw-normal">學歷背景（最多500字）</label>
                  </div>
                  <div class="form-floating mb-sm-10 mb-7">
                    <textarea class="form-control pt-5 ps-3 bg-white border border-1 border-natural-300 rounded-1" placeholder="Leave a comment here" id="floatingTextarea3" style="height: 160px"></textarea>
                    <label for="floatingTextarea3" class="fw-normal">專業培訓與工作坊（最多500字）</label>
                  </div>
                  <div class="ms-sm-7 ms-0">
                      <div class="row flex-sm-row flex-column-reverse g-0">
                          <div class="col-12 col-sm-auto mb-3 mb-sm-0 me-sm-3 me-0">
                              <button type="button" class="btn btn-white border border-1 border-natural-300 rounded-3 d-flex align-items-center py-3 ps-sm-3 ps-0 pe-sm-3 pe-0 justify-content-center w-100">
                                  <span class="fw-normal">匯出 PDF</span>
                                  <span class="material-symbols-outlined ms-sm-1 ms-0">keyboard_arrow_right</span>
                              </button>
                          </div>
                          <div class="col-12 col-sm-auto">
                              <button type="button" class="btn btn-dark rounded-3 d-flex align-items-center py-3 ps-sm-3 ps-0 pe-sm-3 pe-0 justify-content-center w-100 mb-sm-0 mb-5">
                                  <span class="fw-normal">儲存更新</span>
                                  <span class="material-symbols-outlined ms-sm-1 ms-0">keyboard_arrow_right</span>
                              </button>
                          </div>
                      </div>
                  </div>
                </li>
              </ul>
            </div>
          </div>
          <div class="col-sm-1 d-sm-block d-none"></div>
        </div>
      </div>
    </section>

    <%- include('./layout/footer'); -%>


    <script type="module" src="../main.js"></script>
  </body>
</html>
